@import '../../styles/utils/index';

@include p(login) {
  @include b(logo) {
    @include padding(px2rpx(130px), null, px2rpx(120px));

    text-align: center;
  }

  @include b(title, desc) {
    @include margin(null, px2rpx(40px), null, px2rpx(40px));

    line-height: 100%;
  }

  @include b(title) {
    padding-bottom: px2rpx(20px);
  }

  @include b(desc) {
    padding-bottom: px2rpx(82px);
  }
}
