@import "~@/assets/styles/utils/index.scss";

@include p(home) {
  @include b(special) {
    @include margin(px2rpx(24px), px2rpx(24px), null, px2rpx(24px));

    background-color: white;
    box-shadow: 0 0 px2rpx(10px) 0 rgba(#cccccc, 0.2);
    border-radius: px2rpx(10px);
    height: px2rpx(230px);
    padding: px2rpx(20px);

    @include b(product) {
      width: px2rpx(152px);
      margin-right: px2rpx(20px);

      image {
        @include size(px2rpx(152px), px2rpx(152px));
      }
    }
  }
}
