@import "~@/assets/styles/utils/index.scss";

@include cc(list) {
  @include block--center;

  width: px2rpx(720px);

  @include e(name) {
    @include block--center;
    @include text--overflow;

    padding-top: px2rpx(20px);
    width: px2rpx(290px);
  }

  @include e(price) {
    @include block--center;
    @include text--overflow;
    @include padding(6px, null, px2rpx(20px));

    width: px2rpx(290px);
  }

  @include e(number) {
    @include position--absolute(null, px2rpx(10px), px2rpx(10px));

    padding: px2rpx(10px);
    text-align: right;
  }
}
