@import '../../../styles/utils/index';

@include p(products-detail) {
  padding-bottom: px2rpx(96px);

  @include b(picture) {
    @include block--center;
    @include size(px2rpx(500px), px2rpx(500px));

    box-sizing: content-box;
    padding-top: px2rpx(20px);

    img {
      @include size(px2rpx(500px), px2rpx(500px));

      display: block;
    }
  }

  @include b(name, price) {
    line-height: 100%;
  }

  @include b(name) {
    @include padding(px2rpx(20px), null, px2rpx(50px));
  }

  @include b(price) {
    padding-bottom: px2rpx(34px);
  }

  @include c(guarantees) {
    margin-top: px2rpx(-30px);
  }
}
