@import '../../../styles/utils/index';

@include p(products-detail) {
  padding-bottom: px2rpx(96px + 16px);

  @include b(image) {
    @include size(100%, px2rpx(386px));

    display: block;
  }

  @include b(title, price) {
    line-height: 100%;
  }

  @include b(title) {
    @include text--overflow;
    @include block--center;
    @include padding(px2rpx(30px), null, px2rpx(36px));

    width: px2rpx(690px);
  }

  @include b(price) {
    @include padding(null, px2rpx(30px), px2rpx(30px), px2rpx(30px));
  }

  @include b(content) {
    padding: px2rpx(40px);
    line-height: px2rpx(50px);
  }
}
