@import "../../styles/utils/index";

@include c(cart-manager) {
  @include position--fixed(null, null, 0, 0);
  @include size(100%, px2rpx(96px));

  display: flex;

  @include e(checked, settle) {
    line-height: px2rpx(96px);
  }

  @include e(checked) {
    position: relative;
    flex: 0 1 auto;
    width: px2rpx(550px);
    text-indent: px2rpx(94px);
  }

  @include e(money){
    @include position--absolute(50%, px2rpx(20px));

    transform: translateY(-50%);
  }

  @include e(settle) {
    flex: 1;
  }

  @include e(checkbox) {
    @include position--absolute(50%, null, null, px2rpx(30px));

    transform: translateY(-50%);
  }
}
