@import "~@/assets/styles/utils/index";

@include c(im-chats) {
  @include e(item) {
    @include clearfix;

    position: relative;
    height: px2rpx(80px + 20px * 2);
    background-color: white;
    border-bottom: 1px solid map-get($colors, gray2);
  }

  @include e(avatar) {
    @include position--absolute(50%, null, null, px2rpx(30px));
    @include size(px2rpx(80px), px2rpx(80px));

    transform: translateY(-50%);
    display: block;
    border-radius: px2rpx(6px);

    @include s(is-default) {
      background: {
        color: map-get($colors, primary);
        image: url("./images/avatar.png");
        size: px2rpx(50px) px2rpx(50px);
        position: center center;
        repeat: no-repeat;
      }
    }
  }

  @include e(body) {
    @include position--absolute(
      px2rpx(30px),
      px2rpx(30px),
      null,
      px2rpx(30px + 80px + 20px)
    );
  }

  @include e(name, message, time) {
    line-height: 100%;
  }

  @include e(name) {
    padding-bottom: px2rpx(10px);
  }

  @include e(message) {
    @include text--overflow;
  }

  @include e(time) {
    @include position--absolute(0, 0);
  }

  @include e(count) {
    @include position--absolute(px2rpx(14px), null, null, px2rpx(94px));
    @include text--middle(px2rpx(32px));
    @include padding(null, px2rpx(10px), null, px2rpx(10px));

    display: inline-block;
    text-align: center;
    background-color: map-get($colors, error);
    border-radius: px2rpx(16px);
    color: white;
  }
}
