@import '../../../styles/utils/index';

@include p(addresses-list) {
  @include b(list) {
    @include e(item) {
      @include padding(px2rpx(32px), px2rpx(32px), null, px2rpx(32px));
    }

    @include e(head) {
      position: relative;
      border-bottom: 1px solid map-get($colors, c12);
    }

    @include e(title, desc) {
      line-height: 100%;
    }

    @include e(desc) {
      @include padding(px2rpx(15px), null, px2rpx(20px));
    }

    @include e(foot) {
      position: relative;
      height: px2rpx(72px);

      @include c(icon-tag) {
        @include position--absolute(50%);

        transform: translateY(-50%);

        @include m(set, unset) {
          left: 0;
        }

        @include m(edit) {
          right: px2rpx(150px);
        }

        @include m(del) {
          right: 0;
        }
      }
    }

    @include c(tag) {
      @include position--absolute(0, 0);
    }
  }

  @include c(button) {
    @include position--absolute(null, null, px2rpx(60px), 50%);

    transform: translateX(-50%);
  }
}
