@import '../../styles/utils/index';

@include p(bind) {
  $b-check-code_color: map-get($colors, c4);
  $b-check-code-is-disabled_color: map-get($colors, c9);

  @include b(check-code) {
    @include position--absolute(50%, 0);
    @include padding(null, px2rpx(40px), null, px2rpx(40px));
    @include text--middle(px2rpx(88px));

    transform: translateY(-50%);
    text-align: right;
    color: $b-check-code_color;
    z-index: 2;

    &.is-disabled {
      color: $b-check-code-is-disabled_color;
    }
  }
}
