@mixin position--fixed($top: null, $right: null, $bottom: null, $left: null) {
  position: fixed;

  @if $top != null {
    top: $top;
    margin-top: 44px;
  }

  @if $right != null {
    right: $right;
  }

  @if $bottom != null {
    bottom: $bottom;
    margin-bottom: 44px;
  }

  @if $left != null {
    left: $left;
  }
}
