// CDN
$cdn: "http://localhost:88";

// CDN 版本号
$cdn-version: 0.1;

// 颜色
$colors: (
  // 黑白
  c11: white,
  c12: black,
  // 主色调
  c21: #1DA677,
  // 灰色
  c31: #F5F7FA,
  c32: #f2f6fc,
  c33: #ebeef5,
  c34: #e4e7ed,
  c35: #dcdfe6,
  c36: #c0c4cc,
  c37: #909399,
  c38: #606266,
  c39: #303133
);

// z-index
$z-indexes: (
  c-filter: 2,
  c-tabs: 4,
  c-fixed-cart: 4,
  c-overlay: 5,
  c-dialog: 6,
  c-popup: 6,
  c-actions: 6
);

// button
$button-widths: 160, 650;
$button-heights: 48, 76, 88;
$button-border-radii: 0, 8;

// icon
$icon-items: (
  (icon: logo, width: 160px, height: 160px),
  (icon: empty, width: 220px, height: 144px),
  (icon: drop, width: 20px, height: 20px),
  (icon: panel-more, width: 20px, height: 20px)
);

// tag
$tag-heights: 30, 40, 50, 60;
$tag-border-radii: 0, 8;
