// CDN
// $cdn: "http://localhost:88";
$cdn: "https://api.fjnm.cn/static";

// CDN 版本号
$cdn-version: 0.1;

// 颜色
$colors: (
        c1: #fff,
        c2: #000,
        c3: #333333,
        c4: #53B060,
        c5: #FA751D,
        c6: #F6F6F6,
        c7: #F4F4F4,
        c8: #BBBBBB,
        c9: #999999,
        c10: #666666,
        c11: #4D4D4D,
        c12: #E5E5E5,
        c13: #F7B500,
        c14: #D7D7D7,
        C15: #BABABA,
        c16: #56c976
);

// z-index
$z-indexes: (
        c-overlay: 5,
        c-dialog: 6,
        c-popup: 6
);
