// CDN
$cdn: "http://localhost:88";

// CDN 版本号
$cdn-version: 0.1;

// 颜色
$colors: (
  // 黑白
  c11: white,
  c12: black,
  // 主色调
  c21: #1DA677,
  c22: #fff,
  c23: #D93535,
  c24: #FA751D,
  c25: red,
  c26: #617CF2,
  c27: #EEF8F5,
  // 灰色
  c31: #f2f6fc,
  c32: #ebeef5,
  c33: #e4e7ed,
  c34: #dcdfe6,
  c35: #c0c4cc,
  c36: #909399,
  c37: #606266,
  c38: #303133
);

// z-index
$z-indexes: (
  c-filter: 2,
  c-tabs: 4,
  c-fixed-cart: 4,
  c-overlay: 5,
  c-dialog: 6,
  c-popup: 6,
  c-actions: 6
);
