page {
  background-color: map-get($colors, c34);
  color: map-get($colors, c12);
}

@if $is-h5 {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }
}
