@font-face {
  font-family: "c-iconfont"; /* Project id 3174865 */
  src: url("//at.alicdn.com/t/font_3174865_qk5g23srr8l.woff2?t=1644507191187")
      format("woff2"),
    url("//at.alicdn.com/t/font_3174865_qk5g23srr8l.woff?t=1644507191187")
      format("woff"),
    url("//at.alicdn.com/t/font_3174865_qk5g23srr8l.ttf?t=1644507191187")
      format("truetype");
}

.c-iconfont {
  font-family: "c-iconfont" !important;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-iconfont--delete:before {
  content: "\e602";
}

.c-iconfont--wechat:before {
  content: "\e601";
}

.c-iconfont--phone:before {
  content: "\e6b9";
}

.c-iconfont--lock:before {
  content: "\e61a";
}

.c-iconfont--info:before {
  content: "\e6a1";
}

.c-iconfont--home:before {
  content: "\e619";
}

.c-iconfont--cart:before {
  content: "\e600";
}

.c-iconfont--user:before {
  content: "\e656";
}

.c-iconfont--category:before {
  content: "\e6c6";
}
