@import "../../styles/utils/index";

@include c(logo) {
  line-height: 0;

  @include c(icon) {
    @include m(logo) {
      border-radius: px2rpx(22px);
      margin-bottom: px2rpx(24px);
    }
  }

  @include e(title) {
    line-height: 100%;
  }
}
