@import "../../styles/utils/index";

@include c(search) {
  @include padding(px2rpx(15px), null, px2rpx(15px));

  position: relative;

  @include e(input) {
    @include size(px2rpx(690px), px2rpx(68px));

    margin-left: px2rpx(30px);
    border-radius: px2rpx(16px);
    background: {
      image: cdn("components/search/search.png");
      size: px2rpx(28px) px2rpx(28px);
      repeat: no-repeat;
      position: px2rpx(24px) center;
    }

    input {
      @include text--middle(px2rpx(68px));
      @include margin(null, px2rpx(65px), null, px2rpx(65px));
    }
  }

  @include e(submit) {
    @include position--absolute(50%, 0);

    padding: px2rpx(10px) px2rpx(30px);
    transform: translateY(-50%);
    line-height: 100%;
    display: none;
  }

  @include s(has-submit) {
    @include c(search) {
      @include e(input) {
        width: px2rpx(610px) !important;
      }

      @include e(submit) {
        display: inline-block;
      }
    }
  }
}
