@import "../../styles/utils/index";

@include p(my-info) {
  @include pb(info) {
    @include padding(px2rpx(40px));

    box-sizing: border-box;
    height: px2rpx(308px);
    background-color: map-get($colors, c1);
    text-align: center;
  }

  @include pb(name) {
    @include padding(px2rpx(36px), null, px2rpx(36px));

    line-height: 100%;
  }

  @include c(button) {
    @include position--fixed(null, null, px2rpx(80px), 50%);

    transform: translateX(-50%);
  }
}
