@import "~@/assets/styles/utils/index.scss";

@include p(user-addresses-form) {
  @include b(tags) {
    line-height: 0;
    margin-left: px2rpx(180px);

    @include c(tag) {
      margin-right: px2rpx(20px);
    }
  }
}
