@include c(avatar) {
  $width: px2rpx(120px);
  $box-shadow-blur: px2rpx(30px);
  $box-shadow-color: rgba(map-get($colors, c2), 0.2);

  @include circle($width);

  display: inline-block;
  box-shadow: 0 0 $box-shadow-blur 0 $box-shadow-color;
}
