@include c(button) {
  $widths: 650;
  $heights: 88;
  $border-radii: 0;

  box-sizing: border-box;
  text-align: center;
  display: inline-block;

  &::after {
    border: none;
  }

  @include s(is-foot) {
    @include position--fixed(null, null, px2rpx(70px), 50%);

    transform: translateX(-50%);
  }

  @each $item in $widths {
    &.w#{$item} {
      width: px2rpx($item * 1px);
    }
  }

  @each $item in $heights {
    &.h#{$item} {
      @include text--middle(px2rpx($item * 1px));

      border-radius: px2rpx($item * 1px);
    }
  }

  @each $item in $border-radii {
    &.br#{$item} {
      border-radius: px2rpx($item * 1px);
    }
  }
}

button.c-button {
  display: block;
}
