@include c(button) {
  $widths: 650, 160;
  $heights: 76, 88, 48;
  $border-radii: 0;

  box-sizing: border-box;
  text-align: center;
  display: inline-block;

  &::after {
    border: none;
  }

  @include s(is-block) {
    display: block;
  }

  @include s(is-foot) {
    @include position--fixed(null, null, px2rpx(70px), 50%);

    transform: translateX(-50%);
  }

  .w1 {
    width: 100%;
  }

  @each $item in $widths {
    &.w#{$item} {
      width: px2rpx($item * 1px);
    }
  }

  @each $item in $heights {
    &.h#{$item} {
      @include text--middle(px2rpx($item * 1px));

      border-radius: px2rpx($item * 1px);
    }
  }

  @each $item in $border-radii {
    &.br#{$item} {
      border-radius: px2rpx($item * 1px);
    }
  }
}
