@include c(comment) {
  @include margin(null, px2rpx(30px), null, px2rpx(30px));

  @include e(title) {
    @include padding(px2rpx(40px), null, px2rpx(20px));

    line-height: 100%;
  }

  @include e(input, textarea) {
    border-radius: px2rpx(6px);
    line-height: px2rpx(32px);
    padding: px2rpx(18px);
  }

  @include e(input) {
    height: px2rpx(32px);
  }

  @include e(textarea) {
    @include size(auto, px2rpx(180px));
    @include padding(px2rpx(24px), null, px2rpx(24px));
  }
}
