@include c(dialog) {
  $background-color: map-get($colors, c11);
  $border-color: map-get($colors, c34);
  $border-radius: 8px;

  @include position--fixed(50%, null, null, 50%);

  transform: translate(-50%, -50%);
  background-color: $background-color;
  border-radius: px2rpx($border-radius);
  z-index: map-get($z-indexes, c-dialog);
  overflow: hidden;

  @include e(title) {
    @include padding(px2rpx(60px), px2rpx(30px), px2rpx(50px), px2rpx(30px));

    line-height: 140%;
  }

  @include e(content) {
    @include padding(null, px2rpx(30px), px2rpx(50px), px2rpx(30px));

    line-height: 150%;
  }

  @include e(foot) {
    border-top: 1px solid $border-color;

    li {
      @include text--middle(px2rpx(100px));

      border-right: 1px solid $border-color;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
