@include c(icon) {
  $items: (
    (width: 40px, height: 40px, icon: address)
  );

  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  @each $item in $items {
    $width: map-get($item, width);
    $height: map-get($item, height);
    $icon: map-get($item, icon);

    @include m(#{$icon}) {
      @include size(px2rpx($width * 1px), px2rpx($height * 1px));

      background-image: cdn("components/icon/#{$icon}.png");
    }
  }
}
