@include c(icon) {
  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  @each $item in $icon-items {
    $width: map-get($item, width);
    $height: map-get($item, height);
    $icon: map-get($item, icon);

    @include m(#{$icon}) {
      @include size(px2rpx($width), px2rpx($height));

      background-image: url("~@/cdn/components/icon/#{$icon}.png");
    }
  }
}
