@include c(icon) {
  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  @include m(logo) {
    @include size(px2rpx(160px), px2rpx(160px));

    background-image: cdn("components/icon/logo.png");
  }

  @include m(add-bg) {
    @include size(px2rpx(48px), px2rpx(48px));

    background-image: cdn("components/icon/add-bg.png");
  }

  @each $value in (address, collection, coupon, service, to-be-business) {
    @include m(#{$value}) {
      @include size(px2rpx(40px), px2rpx(40px));

      background-image: cdn("components/icon/#{$value}.png");
    }
  }

  @include m(arrow-up, arrow-down) {
    @include size(px2rpx(48px), px2rpx(48px));
  }

  @include m(arrow-up) {
    background-image: cdn("components/icon/arrow-up.png");
  }

  @include m(arrow-down) {
    background-image: cdn("components/icon/arrow-down.png");
  }

  @include m(delivery, pay, after-sale) {
    @include size(px2rpx(60px), px2rpx(40px));
  }

  @include m(delivery) {
    background-image: cdn("components/icon/delivery.png");
  }

  @include m(pay) {
    background-image: cdn("components/icon/pay.png");
  }

  @include m(after-sale) {
    background-image: cdn("components/icon/after-sale.png");
  }
}
