@include c(index) {
  @include e(scroll) {
    @include position--fixed(0, null, 0, 0);

    width: 100%;
  }

  @include cc(list) {
    @include e(title, item) {
      text-indent: px2rpx(20px);
    }

    @include e(title) {
      @include text--middle(30px);
    }

    @include e(item) {
      @include text--middle(50px);

      border-bottom: 1px solid map-get($colors, c34);
    }
  }

  @include cc(letters) {
    @include position--fixed(50%, 0);

    transform: translateY(-50%);
    box-shadow: 0 px2rpx(4px) px2rpx(20px) 0 rgba(map-get($colors, c12), .04);

    @include e(item) {
      @include text--middle(px2rpx(44px));

      width: px2rpx(50px);
      text-align: center;
    }
  }
}
