@include c(orders) {
  $__head_height: 70px;
  $__head_margin-left: 30px;
  $border-color: map-get($colors, c34);
  $__body_margin: 30px;
  $__image_width: 160px;
  $__image_height: 100px;
  $__foot_padding-top: 16px;
  $__foot_padding-right: 30px;

  @include e(item) {
    @include clearfix;
  }

  @include e(head) {
    @include text--middle(px2rpx($__head_height));

    position: relative;
    margin-left: px2rpx($__head_margin-left);
    border-bottom: 1px solid $border-color;

    span {
      line-height: 100%;
    }
  }

  @include e(extra) {
    @include position--absolute(50%, px2rpx(30px));

    transform: translateY(-50%);
    line-height: 100%;
  }

  @include e(body) {
    margin: px2rpx($__body_margin);

    @include o(media) {
      @include e(image) {
        @include size(px2rpx($__image_width), px2rpx($__image_height));

        border-radius: px2rpx(9px);
      }

      @include e(body) {
        margin-left: px2rpx(20px);
      }
    }
  }

  @include e(foot) {
    @include padding(px2rpx($__foot_padding-top), px2rpx($__foot_padding-right), px2rpx($__foot_padding-top));

    line-height: 100%;
    text-align: right;
    border-top: 1px solid $border-color;

    @include c(button) {
      margin-left: px2rpx(20px);
    }
  }

  @include cc(products) {
    @include e(item) {
      line-height: 100%;
      position: relative;
      margin-bottom: px2rpx(30px);
    }

    @include e(number) {
      @include position--absolute(50%, 0);

      transform: translateY(-50%);
    }
  }

  @include e(money) {
    line-height: 100%;
    text-align: right;
  }
}
