@include c(products) {
  @include e(item) {
    @include margin(null, px2rpx(30px), null, px2rpx(30px));
    @include clearfix;

    padding-top: px2rpx(30px);
    position: relative;
    border-bottom: 1px solid map-get($colors, c12);

    &:last-child {
      border-bottom: 0;
    }
  }

  @include e(image) {
    @include size(px2rpx(168px), px2rpx(168px));

    margin-bottom: px2rpx(30px);
    display: block;
  }

  @include e(info) {
    @include position--absolute(px2rpx(30px), null, null, px2rpx(188px));
  }

  @include e(checkbox) {
    @include position--absolute(px2rpx(30px + 168px / 2 - 48px / 2), null, null, 0);
  }

  @include c(number-input) {
    @include position--absolute(null, 0, px2rpx(30px));
  }

  @include s(is-editable) {
    @include c(products) {
      @include e(image) {
        margin-left: px2rpx(68px);
      }

      @include e(info) {
        left: px2rpx(256px);
      }

      @include e(specification) {
        padding-left: px2rpx(68px);
      }
    }
  }

  @include e(name, desc, price) {
    line-height: 100%;
  }

  @include e(name) {
    padding-top: px2rpx(40px);
  }

  @include e(price) {
    padding-top: px2rpx(30px);
  }

  @include e(tag) {
    @include text--middle(px2rpx(36px));
    @include padding(0, px2rpx(20px), 0, px2rpx(20px));
    @include margin(px2rpx(33px), null, px2rpx(33px));

    border-radius: px2rpx(36px);
    display: inline-block;
    background-color: map-get($colors, c7);
    color: map-get($colors, c10);
  }

  @include e(cart) {
    @include position--absolute(px2rpx(30px * 2 + 168px - 30px - 48px), 0);
  }

  @include e(specification) {
    @include padding(px2rpx(30px), px2rpx(30px), px2rpx(30px));

    position: relative;
    border-top: 1px dotted map-get($colors, c12);

    @include c(products) {
      @include e(price) {
        padding-top: 0;
      }

      @include e(tag) {
        margin-top: px2rpx(30px);
        margin-bottom: 0;
      }

      @include e(cart) {
        top: auto;
        bottom: px2rpx(30px);
      }
    }
  }
}
