@include c(students) {
  display: flex;
  flex-wrap: wrap;
  padding: px2rpx(8px);

  @include e(item) {
    flex: 0 0 33.3333%;
    padding: px2rpx(8px);
    box-sizing: border-box;
  }

  @include e(box) {
    height: px2rpx(276px);
    box-sizing: border-box;
    padding-top: px2rpx(36px);
    border-radius: px2rpx(12px);
    line-height: 0;
  }

  @include e(avatar) {
    @include size(px2rpx(108px), px2rpx(108px));

    border-radius: 50%;
  }

  @include e(name, phone) {
    line-height: 100%;
  }

  @include e(name) {
    @include padding(px2rpx(20px), null, px2rpx(20px));
  }
}
