@include c(submit-bar) {
  @include position--fixed(null, 0, 0, 0);

  box-sizing: border-box;
  border-top: 1px solid map-get($colors, c34);
  display: flex;

  @include e(price, submit) {
    @include text--middle(px2rpx(96px));
  }

  @include e(price) {
    flex: 1;
    text-indent: px2rpx(40px);
  }

  @include e(submit) {
    flex: 0 1 auto;
    width: px2rpx(290px);
  }
}
