@include c(tabs) {
  $__item_height: 72px;
  $__item-is-active_color: map-get($colors, c4);

  display: flex;

  @include e(item) {
    @include text--middle(px2rpx($__item_height));

    position: relative;
    flex: 1;

    &.is-active {
      color: $__item-is-active_color;

      &::after {
        @include position--absolute(null, null, px2rpx(10px), 50%);

        transform: translateX(-50%);
        display: block;
        content: '';
        width: px2rpx(80px);
        border-bottom: px2rpx(4px) solid $__item-is-active_color;
      }
    }
  }
}
