@include c(tag) {
  display: inline-block;

  @each $item in $tag-heights {
    &.h#{$item} {
      @include text--middle(px2rpx($item * 1px));
      @include padding(null, px2rpx($item / 2 * 1px), null, px2rpx($item / 2 * 1px));

      border-radius: px2rpx($item / 2 * 1px);
    }
  }

  @each $item in $tag-border-radii {
    &.br#{$item} {
      border-radius: px2rpx($item * 1px);
    }
  }
}
