@import "../../../styles/utils/index";

@include p(index) {
  @include b(categories) {
    @include clearfix;
    @include padding(px2rpx(40px), px2rpx(18px), null, px2rpx(18px));

    box-sizing: border-box;
    height: px2rpx(400px);

    @include e(item) {
      padding-bottom: px2rpx(65px);
      width: 16.6%;
      float: left;
    }

    @include e(image) {
      @include circle(px2rpx(88px));
      @include block--center;

      display: block;
      margin-bottom: px2rpx(16px);
    }

    @include e(name) {
      line-height: 100%;
    }
  }
}
