@import "~@/assets/styles/utils/index";

@include c(im-input) {
  @import "./components/recorder/style";

  @include position--fixed(null, null, 0, 50%);

  width: 100%;
  transform: translateX(-50%);
  box-sizing: border-box;

  @include e(wrap) {
    padding: px2rpx(20px);
    position: relative;
    border-radius: px2rpx(20px);
    background-color: map-get($colors, white);
    box-shadow: 0 0 px2rpx(20px) 0 rgba(map-get($colors, g5), 0.2);
    border: 1px solid map-get($colors, g3);
  }

  textarea {
    width: px2rpx(560px);
    min-height: px2rpx(40px);
    line-height: px2rpx(40px);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  @include e(operations) {
    display: none;
    width: px2rpx(750px);
    line-height: 100%;
    margin-left: px2rpx(-30px);
    padding-top: px2rpx(20px);

    .is-opacity {
      opacity: 0.4;
    }
  }

  @include e(submit) {
    @include position--absolute(null, px2rpx(12px), px2rpx(10px));

    @include s(is-disabled) {
      color: map-get($colors, placeholder);
    }
  }
}
